window {
    margin: 0px;
    border: 10px solid rgb(30,30,46);
    background-color: rgb(30,30,46);
    border-radius: 15px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: rgb(30,30,46);
    font-weight: bold;
    background-color: rgb(30,30,46);
    background: linear-gradient(100deg, #eac509 0%, #d6cb2a 100%);
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid rgb(30,30,46);
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    border: 10px solid rgb(30,30,46);
    color: #eac509;
    font-weight: bold;
    background-color: rgb(30,30,46);
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border: 2px solid #eac509;
    border-radius: 15px;
    background-color: rgb(30,30,46);
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    /* background: #eac509; */
} 

#text:selected {
    color: rgb(30,30,46);
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
}

#img {
    margin-right: 1em;
    transform: scale(0.5, 0.5);
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(45deg, #eac509 0%, #d6cb2a 100%);
}
